<%- contentFor('main') %>

<div id="content">

  <div id="searchDiv">
    <form method="POST" action="/cinema/search" id="searchForm" autocomplete="off" >
      <input type="text" id="searchText" name="search" placeholder="Click here to search for movies or series ..." />
    </form>
  </div>

  <div id="movies">

    <div id="filters" data-filters="All"></div>

    <div id="movies-user">
      <div class="title-movies">
        <h6>
          <span><%-user.cinema.movies.length%></span><br />
          <% if(user.cinema.movies.length===1) { %>
            Movie
          <% } else { %>
            Movies
          <% } %>
        </h6>
      </div>
      <% if (movieArray.length != 0) { %>
      <% for (i=0;i<movieArray.length;i++) { %>
      <div class="movie" data-id="<%-movieArray[i].id%>" data-genres="<%-movieArray[i].genres%>">
        <div class="list-item" onclick="resultSelected('<%-movieArray[i].id%>', 'movie')">
          <img src="<%-movieArray[i].poster%>">
          <div class="text">
            <h5><%-movieArray[i].title%></h5>
          </div>
        </div>
      </div>
      <% } } %>
    </div>

  </div>

  <div id="content-background" data-img="<%-randomBackdrop%>"></div>

</div>
