<%- contentFor('main') %>
<div class="content no-margin">

  <div class="searchDiv">
    <form id="searchForm" autocomplete="off" method="POST" action="/cinema/search">
      <input type="text" id="searchText" name="search" placeholder="Click here to search for movies or series ..." />
    </form>
  </div>

  <div id="movies">
  </div>

  <div id="movie">
    <div class="my-screen">
      <img src="<%-poster%>">
      <div class="text">
        <p class="title"><%-title%></p>
        <p class="genre"><%-genreString%></p>
        <p class="plot"><%-plot%></p>
        <p class="released"><span>Released:</span> <%-released%></p>
        <% if(type==="movie") { %>
        <a class="trailer" href="<%-trailer%>" target="_blank">Watch trailer</a>
        <% } %>
        <%
        var movieBool = false;
        var seriesBool = false;
        if (type=="movie") { %>
        <% for (i=0;i<user.cinema.movies.length;i++) { %>
        <% if (user.cinema.movies[i]===Id) {
        movieBool = true; %>
        <form method="POST" action="/cinema/screen/<%-type%><%-Id%>/delete">
          <input type="hidden" name="Id" value="<%-Id%>"/>
          <input type="hidden" name="type" value="<%-type%>"/>
          <input class="remove" type="submit" value="Remove from list"/>
        </form>
        <% } } } %>
        <% if (type=="tv") {%>
        <% for (i=0;i<user.cinema.series.length;i++) { %>
        <% if (user.cinema.series[i]===Id) {
        seriesBool = true; %>
        <form method="POST" action="/cinema/screen/<%-type%><%-Id%>/delete">
          <input type="hidden" name="Id" value="<%-Id%>"/>
          <input type="hidden" name="type" value="<%-type%>"/>
          <input class="remove" type="submit" value="Remove from list"/>
        </form>
        <% } } } %>
        <% if((type=="movie" && !movieBool)||(type=="tv" && !seriesBool)) { %>
        <form method="POST" action="/cinema/screen/<%-type%><%-Id%>">
          <input type="hidden" name="Id" value="<%-Id%>"/>
          <input type="hidden" name="type" value="<%-type%>"/>
          <input class="submit" type="submit" value="Add to list"/>
        </form>
        <% } %>
      </div>
    </div>
    <img class="background" src="<%-poster%>">
  </div>
</div>
